# dependencies
/node_modules

# builds
/dist
/.vite

# environment variables
.env
.env.local
.env.*.local

# IDE files
.vscode
.idea

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db
